* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: black;
    color: white;*/
  }
  .heading{
    display: flex;
    gap: 1300px;
    text-align: center;
    border: 1px solid rgba(18, 14, 14, 0.066);
    background-color: rgb(196, 80, 30);
    color: white;
    padding: 10px 0 10px 0;
  }
  .demo{
    margin: 1.5px;

  }
  .nav{
    border-bottom: 1px solid blue;
    padding: 15px;
    text-align-last: justify;
    background-color: rgba(0, 0, 0, 0.41);
  }
  .home{    
      border: 2px;
      border-style: solid;
      background-color: blue;
      height: 200px;
  }
  .about{
    border: 2px;
    border-style: solid;
    /*background-color: rgb(67, 159, 153);*/
    height: 200px;
  }
  .services{
    border: 2px;
    border-style: solid;
    background-color: blue;
    height: 200px;
  }
  .contact{
    border: 2px;
    border-style: solid;
    /*background-color: rgb(130, 130, 151);*/
    height: 200px;
  }